/*  SECTIONS  ============================================================================= */

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  GROUPING  ============================================================================= */

.row {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
} /* all browsers except IE6 and lower */

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col {
    /*margin: 1% 0 1% 0%;*/
    margin: 0;
  }
}

/*  GRID OF TWO   ============================================================================= */

.span-2-of-2 {
  width: 100%;
}

.span-1-of-2 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .span-2-of-2 {
    width: 100%;
  }
  .span-1-of-2 {
    width: 100%;
  }
}

/*  GRID OF THREE   ============================================================================= */

.span-3-of-3 {
  width: 100%;
}

.span-2-of-3 {
  width: 66.13%;
}

.span-1-of-3 {
  width: 32.26%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .span-3-of-3 {
    width: 100%;
  }
  .span-2-of-3 {
    width: 100%;
  }
  .span-1-of-3 {
    width: 100%;
  }
}

/*  GRID OF FOUR   ============================================================================= */

.span-4-of-4 {
  width: 100%;
}

.span-3-of-4 {
  width: 74.6%;
}

.span-2-of-4 {
  width: 49.2%;
}

.span-1-of-4 {
  width: 23.8%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .span-4-of-4 {
    width: 100%;
  }
  .span-3-of-4 {
    width: 100%;
  }
  .span-2-of-4 {
    width: 100%;
  }
  .span-1-of-4 {
    width: 100%;
  }
}

/*  GRID OF FIVE   ============================================================================= */

.span-5-of-5 {
  width: 100%;
}

.span-4-of-5 {
  width: 79.68%;
}

.span-3-of-5 {
  width: 59.36%;
}

.span-2-of-5 {
  width: 39.04%;
}

.span-1-of-5 {
  width: 18.72%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .span-5-of-5 {
    width: 100%;
  }
  .span-4-of-5 {
    width: 100%;
  }
  .span-3-of-5 {
    width: 100%;
  }
  .span-2-of-5 {
    width: 100%;
  }
  .span-1-of-5 {
    width: 100%;
  }
}

/*  GRID OF SIX   ============================================================================= */

.span-6-of-6 {
  width: 100%;
}

.span-5-of-6 {
  width: 83.06%;
}

.span-4-of-6 {
  width: 66.13%;
}

.span-3-of-6 {
  width: 49.2%;
}

.span-2-of-6 {
  width: 32.26%;
}

.span-1-of-6 {
  width: 15.33%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .span-6-of-6 {
    width: 100%;
  }
  .span-5-of-6 {
    width: 100%;
  }
  .span-4-of-6 {
    width: 100%;
  }
  .span-3-of-6 {
    width: 100%;
  }
  .span-2-of-6 {
    width: 100%;
  }
  .span-1-of-6 {
    width: 100%;
  }
}

/*  GRID OF SEVEN   ============================================================================= */

.span-7-of-7 {
  width: 100%;
}

.span-6-of-7 {
  width: 85.48%;
}

.span-5-of-7 {
  width: 70.97%;
}

.span-4-of-7 {
  width: 56.45%;
}

.span-3-of-7 {
  width: 41.94%;
}

.span-2-of-7 {
  width: 27.42%;
}

.span-1-of-7 {
  width: 12.91%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .span-7-of-7 {
    width: 100%;
  }
  .span-6-of-7 {
    width: 100%;
  }
  .span-5-of-7 {
    width: 100%;
  }
  .span-4-of-7 {
    width: 100%;
  }
  .span-3-of-7 {
    width: 100%;
  }
  .span-2-of-7 {
    width: 100%;
  }
  .span-1-of-7 {
    width: 100%;
  }
}

/*  GRID OF EIGHT   ============================================================================= */

.span-8-of-8 {
  width: 100%;
}

.span-7-of-8 {
  width: 87.3%;
}

.span-6-of-8 {
  width: 74.6%;
}

.span-5-of-8 {
  width: 61.9%;
}

.span-4-of-8 {
  width: 49.2%;
}

.span-3-of-8 {
  width: 36.5%;
}

.span-2-of-8 {
  width: 23.8%;
}

.span-1-of-8 {
  width: 11.1%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .span-8-of-8 {
    width: 100%;
  }
  .span-7-of-8 {
    width: 100%;
  }
  .span-6-of-8 {
    width: 100%;
  }
  .span-5-of-8 {
    width: 100%;
  }
  .span-4-of-8 {
    width: 100%;
  }
  .span-3-of-8 {
    width: 100%;
  }
  .span-2-of-8 {
    width: 100%;
  }
  .span-1-of-8 {
    width: 100%;
  }
}

/*  GRID OF NINE   ============================================================================= */

.span-9-of-9 {
  width: 100%;
}

.span-8-of-9 {
  width: 88.71%;
}

.span-7-of-9 {
  width: 77.42%;
}

.span-6-of-9 {
  width: 66.13%;
}

.span-5-of-9 {
  width: 54.84%;
}

.span-4-of-9 {
  width: 43.55%;
}

.span-3-of-9 {
  width: 32.26%;
}

.span-2-of-9 {
  width: 20.97%;
}

.span-1-of-9 {
  width: 9.68%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .span-9-of-9 {
    width: 100%;
  }
  .span-8-of-9 {
    width: 100%;
  }
  .span-7-of-9 {
    width: 100%;
  }
  .span-6-of-9 {
    width: 100%;
  }
  .span-5-of-9 {
    width: 100%;
  }
  .span-4-of-9 {
    width: 100%;
  }
  .span-3-of-9 {
    width: 100%;
  }
  .span-2-of-9 {
    width: 100%;
  }
  .span-1-of-9 {
    width: 100%;
  }
}

/*  GRID OF TEN   ============================================================================= */

.span-10-of-10 {
  width: 100%;
}

.span-9-of-10 {
  width: 89.84%;
}

.span-8-of-10 {
  width: 79.68%;
}

.span-7-of-10 {
  width: 69.52%;
}

.span-6-of-10 {
  width: 59.36%;
}

.span-5-of-10 {
  width: 49.2%;
}

.span-4-of-10 {
  width: 39.04%;
}

.span-3-of-10 {
  width: 28.88%;
}

.span-2-of-10 {
  width: 18.72%;
}

.span-1-of-10 {
  width: 8.56%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .span-10-of-10 {
    width: 100%;
  }
  .span-9-of-10 {
    width: 100%;
  }
  .span-8-of-10 {
    width: 100%;
  }
  .span-7-of-10 {
    width: 100%;
  }
  .span-6-of-10 {
    width: 100%;
  }
  .span-5-of-10 {
    width: 100%;
  }
  .span-4-of-10 {
    width: 100%;
  }
  .span-3-of-10 {
    width: 100%;
  }
  .span-2-of-10 {
    width: 100%;
  }
  .span-1-of-10 {
    width: 100%;
  }
}

/*  GRID OF ELEVEN   ============================================================================= */

.span-11-of-11 {
  width: 100%;
}

.span-10-of-11 {
  width: 90.76%;
}

.span-9-of-11 {
  width: 81.52%;
}

.span-8-of-11 {
  width: 72.29%;
}

.span-7-of-11 {
  width: 63.05%;
}

.span-6-of-11 {
  width: 53.81%;
}

.span-5-of-11 {
  width: 44.58%;
}

.span-4-of-11 {
  width: 35.34%;
}

.span-3-of-11 {
  width: 26.1%;
}

.span-2-of-11 {
  width: 16.87%;
}

.span-1-of-11 {
  width: 7.63%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .span-11-of-11 {
    width: 100%;
  }
  .span-10-of-11 {
    width: 100%;
  }
  .span-9-of-11 {
    width: 100%;
  }
  .span-8-of-11 {
    width: 100%;
  }
  .span-7-of-11 {
    width: 100%;
  }
  .span-6-of-11 {
    width: 100%;
  }
  .span-5-of-11 {
    width: 100%;
  }
  .span-4-of-11 {
    width: 100%;
  }
  .span-3-of-11 {
    width: 100%;
  }
  .span-2-of-11 {
    width: 100%;
  }
  .span-1-of-11 {
    width: 100%;
  }
}

/*  GRID OF TWELVE   ============================================================================= */

.span-12-of-12 {
  width: 100%;
}

.span-11-of-12 {
  width: 91.53%;
}

.span-10-of-12 {
  width: 83.06%;
}

.span-9-of-12 {
  width: 74.6%;
}

.span-8-of-12 {
  width: 66.13%;
}

.span-7-of-12 {
  width: 57.66%;
}

.span-6-of-12 {
  width: 49.2%;
}

.span-5-of-12 {
  width: 40.73%;
}

.span-4-of-12 {
  width: 32.26%;
}

.span-3-of-12 {
  width: 23.8%;
}

.span-2-of-12 {
  width: 15.33%;
}

.span-1-of-12 {
  width: 6.86%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .span-12-of-12 {
    width: 100%;
  }
  .span-11-of-12 {
    width: 100%;
  }
  .span-10-of-12 {
    width: 100%;
  }
  .span-9-of-12 {
    width: 100%;
  }
  .span-8-of-12 {
    width: 100%;
  }
  .span-7-of-12 {
    width: 100%;
  }
  .span-6-of-12 {
    width: 100%;
  }
  .span-5-of-12 {
    width: 100%;
  }
  .span-4-of-12 {
    width: 100%;
  }
  .span-3-of-12 {
    width: 100%;
  }
  .span-2-of-12 {
    width: 100%;
  }
  .span-1-of-12 {
    width: 100%;
  }
}
/* ---------------------------------------------------------------------------------- */
/* REUSEABLE COMPONENT */
/* ---------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------------------------------------- */
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-rendering: optimizeLegibility;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "-";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/* ---------------------------------------------------------------------------------- */
/* HEADER */
/* ---------------------------------------------------------------------------------- */
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../images/hero.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  letter-spacing: 3px;
  font-weight: normal;
  font-style: normal;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ----------- HEADINGS ----------- */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 50px;
  margin-bottom: 10px;
  position: relative;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 180%;
  word-spacing: 2p;
  text-align: center;
}

h3 {
  font-size: 110%;
  margin-bottom: 15%;
  letter-spacing: 0px;
}

h2::after {
  display: block;
  height: 2px;
  background-color: rgba(233, 141, 3, 0.9);
  content: " ";
  width: 100px;
  margin: 30px auto;
}

.row {
  margin: 0 auto;
  max-width: 1104px;
}

section {
  padding: 80px 0;
}

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 20%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

.icon-big {
  font-size: 400%;
  display: block;
  color: rgba(233, 141, 3, 0.9);
  margin: 10px 0px;
}
/* ---------------------------------------------------------------------------------- */
/* BUTTON */
/* ---------------------------------------------------------------------------------- */
.btn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 25px;
  font-size: 20px;
  margin: 5px 0px;
  border: 1px solid rgba(233, 141, 3, 0.9);
}

.box {
  padding: 1%;
}

.btn-full {
  background-color: rgba(233, 141, 3, 0.9);
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.btn-ghost {
  color: rgba(233, 141, 3, 0.9);
  transition: 0.3s;
}

.btn-ghost:hover {
  color: white;
  background-color: rgba(233, 141, 3, 0.9);
  transition: 0.3s;
}

.btn-full:hover {
  background-color: rgb(253, 152, 0);
  transition: 0.3s;
}

/* ---------------------------------------------------------------------------------- */
/* LOGO */
/* ---------------------------------------------------------------------------------- */
.logo {
  height: 100px;
  width: auto;
  float: left;
  transition: 0.4s;
}

.logo:hover {
  transform: scale(1.3);
  transition: 0.4s;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
  margin-right: 20px;
}

.main-nav li {
  display: inline-block;
  margin: 0px 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 9px 0px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid rgb(253, 152, 0);
}

/* ---------------------------------------------------------------------------------- */
/* sections 1 */
/* ---------------------------------------------------------------------------------- */

.section-features h2,
.section-features h3 {
  font-weight: bold;
}

/* SHOW CASES */
.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meal-photo img {
  width: 100%;
  height: auto;
  transition-duration: 0.5s;
  transform: scale(1.2);
  opacity: 0.6;
  /* filter: brightness(0.35); */
}

.meal-photo img:hover {
  opacity: 1;
  width: 100%;
  height: auto;
  transform: scale(1);
  transition-duration: 0.5s;
  /* filter: brightness(1); */
}

.section-meals {
  padding: 0;
}

.section-features .long-copy {
  margin-bottom: 30px;
}

/* HOW IT WORK  */

.section-steps {
  background-color: rgb(226, 226, 226);
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app-iphone {
  width: 40%;
}

.work-step {
  margin-bottom: 50px;
}

.work-step:last-of-type {
  margin-bottom: 90px;
}

.work-step div {
  display: inline-block;
  color: rgb(253, 152, 0);
  border: 2px solid rgb(253, 152, 0);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  font-weight: bold;
  margin-right: 25px;
}

.btn-app img {
  width: auto;
  height: 50px;
  margin-right: 15px;
}

/* cities */

.cities-box {
  padding: 1%;
  text-align: left;
}

.cities-box p {
  font-size: 120%;
  text-align: left;
  display: inline-block;
  margin: auto 0;
}

.cities-box img {
  height: auto;
  width: 100%;
  padding: 1%;
}

.cities-box h3 {
  margin: 3% 1%;
  font-size: 130%;
  vertical-align: middle;
}

.section-cities-icon {
  color: rgb(253, 152, 0);
  font-size: 180%;
  padding: 5px;
  margin: auto 0px;
  /* margin-right: 5px; */
  text-align: center;
  vertical-align: middle;
}

.cities-box div {
  /* float: right; */
  text-align: left;
  padding-left: 1%;
}

.tweet-cities {
  color: rgb(253, 152, 0);
  text-decoration: underline;
}
/* CUSTOMER */

.section-testimonials {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/back-customers.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 80vh; */
  color: white;
  position: relative;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
}

cite {
  font-style: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

blockquote::before {
  content: "\201C";
  position: absolute;
  top: 5px;
  left: 0px;
  font-size: 400%;

  display: block;
}

.small-icon {
  color: rgb(253, 152, 0);
  padding: 5px;
  vertical-align: middle;
}

/* section-plans */
.section-plans {
  background-color:  rgb(226, 226, 226)
}

.plan-box {
  background-color: #ffff;
  width: 90%;
  border-radius: 5px;
  margin-left: 5%;
  box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid rgb(128, 77, 2);
}


.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.plan-box div:last-child {
  text-align: center;
  border: none;
  background-color: #fcfcfc;
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 500;
  color: rgb(253, 152, 0);
}

.plan-price span {
  font-size: 30%;
  font-weight: 700;
}

.plan-price-meal {
  font-size: 80%;
  margin-bottom: 10px;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 5px 0;
}

